html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #111111;
  color: white;
}

.loading-progress {
  display: inline-block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.navigation-header {
  margin-left: 3em;
  width: 250px;
}

.navigation__menu {
  display: flex;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.navigation__options {
  padding: 15px;
  margin-right: 3em;
  font-size: 1em;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}


.headroom--scrolled {
  background-color: rgba(0,0,0,0.2);
}

.main-container {
  max-width: 1600px;
  margin: auto;
}

.background {
  /* background: url(../src/assets/images/spacex-timelapse.jpg); */
  /* background: url(../src/assets/images/spacex-trail4.jpg); */
  /* background: url(../src/assets/images/spacex-trail3.jpg); */
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 150vh;
  margin: 0;
}

.second-container {
  padding-top: 50px;
}

.mission-container {
  margin-left: 6%;
  margin-right: 6%;
}

.launch-container {
  max-width: 1600px;
  margin: auto;
}


.landing-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-header {
  max-width: 500px;;
}

.next-mission {
  max-width: 660px;
}

.flight-mission {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

hr{
  display: inline-block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em auto;
  padding: 0;

}

.next-details {
  font-size: 1.055em;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: -0.025em;
  
}

.upcoming--details {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 8px;
}

.next-header {
  margin-top: 47vh;
  line-height: 1.125;
  font-weight: 400;
}

.mission-details {
  /* display: flex; */
  background-color: #011627;
  height: 140px;
  justify-content: space-between;
}

.mission-description {
  display: flex;
  background-color: #00213a;
  justify-content: space-between;
  height: 190px;
  align-items: center;
}

.mission-patch {
  width: 250px;
  text-align: center;
  margin: auto;
}

.patch {
  margin-top: 5px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.launch--details {
  max-width: 620px;
  margin-right: 40px;
  line-height: 1.5;
}

.flight-details {
  /* width: 25%; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* padding-left: 10px; */

  /* font-size: 15px; */
}

.latest--format--line {
  border-bottom: 1px solid white;
  overflow: visible;
  height: 10px;
  line-height: 20px;
  margin: 5px 0 10px 0;
  width: 90%;
}

.latest-launch-name {
  background-color: #011627;
  display: inline-block;
  padding: 0 1.5% 0px 0px;
}

.latest-mission-container {
  display: flex;
  justify-content: space-between;
  line-height: 1em;
}

.

.flight__format{
  margin: 0;
  font-weight: 700;
}

.flight__success {
  font-size: 0.9em;
  font-weight: 600;
}

.flight__date__realtime {
  margin-bottom: 25px;
}

.launch--format {
  margin-left: 40px;
}

.mission__name {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
}

.flight__number {
  /* margin: auto; */
  margin: 0;
  font-size: 90px;
}

.gallery-container {
  /* display: grid; */
  grid-template-columns: repeat(3, 2fr);
  margin-left: 40px;
}

.gallery {
  display: grid;
}

.mission--header {
  margin-left: 40px;
  font-size: 1.5em;
  font-weight: 500;
}


.flight-image {
  height: 25vh;
  padding: 2px;
}

.mission-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 14px;
}

.mission--details {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
}

.link-images{
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  padding-top: 15px;
  color: white;
}

.landing-container {
  background: url(../src/assets/images/spacex-landingF.jpg);
  background-size: cover;
  max-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  box-shadow: inset 0px 0px 400px 100px rgba(0,0,0,0.43);
}

.upcoming--launch__name {
  font-size: 3em;
  font-weight: bolder;
  margin: 0;
  letter-spacing: -0.025em;
}

.rocket--name {
  text-transform: uppercase;
  color: #fca311;
  margin: 0px 20px 0px 0px;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 2.5em;
}

.rocket--payload {
  color: #fca311;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
}

.rocket-information {
  width: 30%;
}

.overview-container {
  display: flex;
  padding-top: 5px;
}

.overview-table {
  padding: 0;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rocket--classification {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 5px 0px;

}

.rocket--description {
  margin: 0px;
  font-size: 0.875em;
  font-weight: 600;
  display: block;
  max-width: 110px;
}

.rocket--classification--met {
  display: flex;
  font-size: 32px;
  letter-spacing: -0.04em;
}

.rocket--dimensions--met {
  display: flex;
  font-size: 22px;
  padding: 0;
  line-height: 2.2;
}

.rocket-payload-info {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
}

.rocket-stages {
  display: flex;
}

.engine-description {
  width: 30%;
}

.second-stage-info {
  position: absolute;
  cursor: pointer;
  margin-bottom: 25px;
}

.seperator {
  margin: 0px 25px;
  line-height: 3.1;
}

.rocket-header {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}

.highlight {
  position: relative;
  height: 5px;
}

.highlight:after {
  position: relative;
  left: 0%;
  width: 0;
  height: 1px;
  display: block;
  background: #ffffff;
  content: '';
  transition: width 0.5s ease-in-out;
}

.highlight:hover:after {
  width: 100%;
}

.hover-action {
  display: block;
  border-bottom: 1px solid #ffffff;
}

.rocket--text {
  margin-top: 5px;
  max-width: 92%;
}

.additional-overview {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
}

.rocket-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  width: 100%;
}

.rocket-side-containerL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #011627;
  padding-left: 12%;
}

.rocket-side-containerL-format {
  min-height: 450px;
  padding-top: 40px;
}

.overview {
  margin: 0;
  letter-spacing: -0.035em;
}

.rocket-side-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.read-more {
  display: block;
  justify-content: space-between;
}

.read-more-button {
  padding: 15px;
}

.player-wrapper {
  position: relative;
  padding-top: 40px;
}

.react-player {
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
}